<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celeste</title>
</head>

<body>
    <header>
        <a href="/Minecraft">Minecraft</a>
        <a href="/RocketLeague">RocketLeague</a>
        <a href="/">Celeste</a>
        <a href="/CoD_Warzone">Warzone</a>
    </header>
    <p>{{Celeste_Titel}}</p>
    <p>{{Celeste_Beschrijving}}</p>
    <img src="{{ url_for('static', filename='images/Celeste.jpeg') }}" alt="My Image" style="height: 30%; width: 30%;">
    <footer>
        <p>RemcoDrolenga {{Date}}</p>
    </footer>
</body>

</html>